@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clinical-bg: #F8F9FA;
  --clinical-text: #202124;
}

@layer base {
  html, body, #root { height: 100%; }
  body {
    @apply bg-clinical-bg text-clinical-text antialiased;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  }
}
